venv/
__pycache__/
*.pyc
*.pyo
*.so
data/
*.egg-info/
dist/
build/

# Logs
logs/*.log

# Parties temporaires
games/tmp/*.pgn

# Fichiers de test lenteur
Lenteur*

#Fichiers d'info non formelle sur les langues
REPARTITION_UTILISATEUR_LANGUES.md

#Fichier permettant de montrer des screenshots a claude
ecran.png
